<div class='menu'> 
  <ul>
    <li><a class='group1' href="#">S & D</a></li>
    <li><a class='group2' href="#">Om oss</a></li>
    <li><a class='group3' href="#">Info</a></li>
    <li><a class='group4' href="#">Anmälan</a></li>
    <li><a class='group5' href="#">Hitta hit</a></li>
  </ul> 
</div>
<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="content">
        <%= image_tag 'arrow-left.png', class: 'arrow', id: 'left' %>
        <h1 class='name'>Sara</h1>
        <h3 class='and'>&</h3>
        <h1 class='name'>David</h1>
        <%= image_tag 'arrow-right.png', class: 'arrow', id: 'right' %>
        <img></img>
      </div>
    </div>
  </div>
  <div id="group2" class="parallax__group init-hide">
      <div class="content" style='margin-top: 20px;'>
        <p>
Sara och David blev först vänner på Afrikas slätter, de var 7st svenskar som via Bibelskola Sthlm åkte ut till Karen utanför Nairobi för att studera med de kenyanska studenterna 2012. De fyra månaderna bestod bland annat av slappa dagar på colleget, studiebesök i olika projekt, volleybollturneringar och byggande av enkla hus på landsbygden. 

Efter resan fortsatte vänskapen fast på olika håll, Sara flyttade till Göteborg och David bodde kvar i Stockholm. 
Vintern 2013 blev vänskapen till en romans och i början av 2014 blev de ett par.  Den 22a juli förlovade de sig och den 23e maj 2015 blir det äkta makar , hurrey!        
        </p>
        <div class='images'>
          <a class='fancybox'><%= image_tag 'om_oss1.jpg' %></a>
          <a class='fancybox'><%= image_tag 'om_oss2.jpg' %></a> 
        </div>

      <h2 class='castro'>Värdarna</h2>
        <div class='hosts'>
          <div class='image-container'>
            <p class='first-name'>Martina</p>
            <p class='last-name'>Eliasson</p>
            <a class='fancybox'><%= image_tag 'jeyskyt.jpg' %></a>
          </div>
          <div class='image-container'>
            <p class='first-name'>Rebecca</p>
            <p class='last-name'>Zakrison</p>
            <a class='fancybox'><%= image_tag 'jeyskyt.jpg' %></a> 
          </div>
          <div class='image-container'>
            <p class='first-name'>Simon</p>
            <p class='last-name'>Westerlund</p>
            <a class='fancybox'><%= image_tag 'jeyskyt.jpg' %></a> 
          </div>
        </div>
      </div>
  </div>
  <div id="group3" class="parallax__group init-hide">
    <div class="content">
      <h3 class='castro'>Vigseln</h3>
      <p>Vigseln tar plats i vackra Almesåkra kyrka utanför Nässjö kl. 14.00</br> Adress: Kyrkogatan 5 i Bodafors </p>
      <h3 class='castro'>Festen</h3>
      <p>Efter vigseln vill vi fira detta med dig och det gör vi ute på Blankefalls loge.  Där bjuds det på middag och festligheter hela kvällen lång!  </p>
      <h3 class='castro'>Klädsel</h3>
      <p>Kom som ditt snyggaste jag! Klädkod kavaj.</br> Kanske befinner sig din blivande man/kvinna i lokalen! Dress for success!</p>
      <h3 class='castro'>Boende</h3>
      <p>Här är några tips på boende!</p>
      <a href='http://www.hogland.se' target='_blank'>Hotell Högland</a>
      <a href='http://www.pensionatparadis.nu/sv/' target='_blank'>Pensionat Paradis</a>
      <a href='http://www.ullinge.se' target='_blank'>Hotell Ullinge</a>
      <a href='http://www.eksjostadshotell.se' target='_blank'>Eksjö stadshotell</a>
      <a href='http://www.eksjovandrarhem.se' target='_blank'>Eksjö vandrarhem</a>
      <h3 class='castro'>Presenter</h3>
      <p>Den stora presenten är att du kommer och förgyller vår dag. 
Om du ändå vill ge en gåva kan du välja mellan att ge ett bidrag till vår bröllopsresa eller skänka en gåva till Nkinga Mission Hospital i Tanzania (nkinga.se).</p>
    </div>
  </div>
  <div id="group4" class="parallax__group init-hide">
    <div class="content">
      <h1 class='title'>anmälan</h1>
    </div>
  </div>

  <div id="group5" class="parallax__group init-hide">
    <div class="content">
      <h1 class='title'>hitta hit</h1>
    </div>
  </div>
</div>
