<div class='selection'>
  <%= image_tag 'Forma-1.png', class: 'menu-icon' %>
</div>
<div class='menu' id='menu-center'> 
  <ul>
    <li><a class='s-och-d menu-item active' href="#s-och-d">S & D</a></li>
    <li><a class='om-oss menu-item scroll-item' href="#om-oss">Om oss</a></li>
    <li><a class='info menu-item scroll-item' href="#info">Info</a></li>
    <li><a class='anmalan menu-item scroll-item' href="#anmalan">o.s.a</a></li>
    <li><a class='hitta-hit menu-item scroll-item' href="#hitta-hit">Hitta hit</a></li>
  </ul> 
</div>

<div class="parallax">
  <div id="s-och-d" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="content">
        <%= image_tag 'arrow-left.png', class: 'arrow', id: 'left' %>
        <h1 class='name baron'>Sara</h1>
        <!-- <h3 class='and'>∞</h3> -->
        <h3 class='and signerica'>&</h3>
        <h1 class='name baron'>David</h1>
        <%= image_tag 'arrow-right.png', class: 'arrow', id: 'right' %>
        <img></img>
      </div>
    </div>
  </div>

  <div id="om-oss" class="parallax__group init-hide">
      <div class='overlay hidden'>
        <div class='details hidden' id='martina'>
          <a href='#' class='close' id='martina-close'><%= image_tag 'close.png' %></a>
          <div class='image'>
            <%= image_tag 'jeyskyt.jpg'%>
          </div>
          <div class='text'>
            <h4 class='canter-light'>Martina Eliasson</h4>
            <p>Martina är tjejen med kreativa kollen. Till vardags arbetar hon som arkitekt och på sin fritid hittar hon på allt mellan himmel och jord.  Påhittig , supersnäll och tuff. </p>
        </div>
      </div>
        <div class='details hidden' id='rebecca'>
          <a href='#' class='close' id='rebecca-close'><%= image_tag 'close.png' %></a>
          <div class='image'>
            <%= image_tag 'rebecca.png'%>
          </div>
          <div class='text'>
            <h4 class='canter-light'>Rebecca Zakrison</h4>
            <p> Rebecca är Södermalms egen pangpingla. Med sina fluffiga pälsar intar hon både coola trend hak och sportiga pingisställen. På dagarna studerar hon en master inom socialt arbete ,  charmig och genuin.</p>
        </div>
      </div>
        <div class='details hidden' id='simon'>
          <a href='#' class='close' id='simon-close'><%= image_tag 'close.png' %></a>
          <div class='image'>
            <%= image_tag 'jeyskyt.jpg'%>
          </div>
          <div class='text'>
            <h4 class='canter-light'>Simon Westerlund</h4>
            <p>Simon är killen med kontrollen. Han har siktet inställd på rymden och studerar till farkostingenjör på KTH. Ambitiös, stort hjärta och stark!</p>
        </div>
       </div>
      </div>
      <div class="content" style='margin-top: 20px;'>
        <div class='images' style='margin-bottom: 20px;'>
          <a class='fancybox'><%= image_tag 'bild.JPG' %></a>
        </div>
        <p class='margin-bottom'>
Sara och David blev först vänner på Afrikas slätter, de var 7st svenskar som via Bibelskola Sthlm åkte ut till Karen utanför Nairobi för att studera med de kenyanska studenterna 2012. De fyra månaderna bestod bland annat av slappa dagar på colleget, studiebesök i olika projekt, volleybollturneringar och byggande av enkla hus på landsbygden. 

Efter resan fortsatte vänskapen fast på olika håll, Sara flyttade till Göteborg och David bodde kvar i Stockholm. 
Vintern 2013 blev vänskapen till en romans och i början av 2014 blev de ett par.  Den 22a juli förlovade de sig och den 23e maj 2015 blir det äkta makar , hurrey!        
        </p>
      <h2 class='canter-light'>Värdarna</h2>
        <div class='hosts'>
          <div class='image-container' id='martina'>
            <div class='shader'></div>
            <p class='first-name'>Martina</p>
            <p class='last-name'>Eliasson</p>
            <%= image_tag 'jeyskyt.jpg' %>
            <h3 class='mobile canter-light bold'>Martina Eliasson</h3>
            <p class='mobile canter-light'>Martina är tjejen med kreativa kollen. Till vardags arbetar hon som arkitekt och på sin fritid hittar hon på allt mellan himmel och jord.  Påhittig , supersnäll och tuff. </p>
          </div>
          <div class='image-container' id='rebecca'>
            <div class='shader'></div>
            <p class='first-name'>Rebecca</p>
            <p class='last-name'>Zakrison</p>
            <%= image_tag 'rebecca.png' %>
            <h3 class='mobile'>Rebecca Zakrison</h3>
            <p class='mobile canter-light'> Rebecca är Södermalms egen pangpingla. Med sina fluffiga pälsar intar hon både coola trend hak och sportiga pingisställen. På dagarna studerar hon en master inom socialt arbete ,  charmig och genuin.</p>
          </div>
          <div class='image-container' id='simon'>
            <div class='shader'></div>
            <p class='first-name'>Simon</p>
            <p class='last-name'>Westerlund</p>
            <%= image_tag 'jeyskyt.jpg' %>
            <h3 class='mobile canter-light'>Simon Westerlund</h3>
            <p class='mobile'>Simon är killen med kontrollen. Han har siktet inställd på rymden och studerar till farkostingenjör på KTH. Ambitiös, stort hjärta och stark!</p>
          </div>
        </div>
      </div>
  </div>
  <div id="info" class="parallax__group init-hide">
    <div class="content">
      <h3 class='canter-light' style='margin-top: -100px;'>Vigseln</h3>
      <p class='margin-bottom'>Vigseln tar plats i vackra Almesåkra kyrka utanför Nässjö kl. 14.00</br> Adress: Kyrkogatan 5 i Bodafors </p>
      <h3 class='canter-light'>Festen</h3>
      <p class='margin-bottom'>Efter vigseln vill vi fira detta med dig och det gör vi ute på Blankefalls loge.  Där bjuds det på middag och festligheter hela kvällen lång!  </p>
      <h3 class='canter-light'>Klädsel</h3>
      <p class='margin-bottom'>Kom som ditt snyggaste jag! Klädkod kavaj.</p>
      <h3 class='canter-light'>Boende</h3>
      <p>Här är några tips på boende!</p>
      <a class='Canter-light' style='margin-left: 27px;' href='http://www.hogland.se' target='_blank'>Hotell Högland</a>
      <a class='Canter-light' href='http://www.pensionatparadis.nu/sv/' target='_blank'>Pensionat Paradis</a>
      <a class='Canter-light' href='http://www.ullinge.se' target='_blank'>Hotell Ullinge</a>
      <a class='Canter-light' href='http://www.eksjostadshotell.se' target='_blank'>Eksjö stadshotell</a>
      <a class='Canter-light' class='last' href='http://www.eksjovandrarhem.se' target='_blank'>Eksjö vandrarhem</a>
      <h3 class='canter-light margin-top'>Presenter</h3>
      <p>Den stora presenten är att du kommer och förgyller vår dag. 
Om du ändå vill ge en gåva kan du välja mellan att ge ett bidrag till vår bröllopsresa eller skänka en gåva till Nkinga Mission Hospital i Tanzania (nkinga.se).</p>
    </div>
  </div>
  <div id="anmalan" class="parallax__group init-hide">
    <div class="content">
      <p>Hej! Här anmäler du dig till bröllopet. Skriv fullständiga namn på samtliga i sällskapet. Skriv med eventuella allergier och annat vi kan behöva veta!</br> <span class='bold'>Anmäl dig senast 1 april.</span></p>
      <div class='errors'></div>
      <%= form_for @attendance, url: { action: "create" }, html: { class: "nifty_form" }, remote: true do |f| %>
        <%= f.text_field :email, placeholder: 'Email' %>
        <%= f.text_area :body, size: "60x12", placeholder: 'Deltagare & Info' %>
        <%= f.submit "Vi kommer!", class: 'button light center submit' %>
      <% end %>
    </div>
  </div>

  <div id="hitta-hit" class="parallax__group init-hide">
    <div class="content">
      <div class='map'>
        <%= image_tag 'karta.png' %>
      </div>
      <div class='links'>
        <p>Paullum deliquit, ponderibus modulisque suis ratio utitur. Salutantibus vitae elit libero, a pharetra augue. Quam temere in vitiis, legem sancimus haerentia.</p>
        <a href='https://www.google.se/maps/place/KYRKA,+571+66+Bodafors/@57.5551196,14.5999827,15z/data=!4m2!3m1!1s0x465a00cc552d6c75:0xcd5d7765e51f835b' target='_blank'>Almesåkra Kyrka</a></br>
        <a href='#'>Blankefalls gård</a>
      </div>
    </div>
  </div>
</div>
