<!DOCTYPE html>
<html>
<head>
  <title>Sara & David</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon3.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name = "format-detection" content = "telephone=no">
</head>
<body class="<%= body_classes(controller) %>">

<%= yield %>

</body>
</html>
